<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/companies">Company</a>
                <a class="nav-link" aria-current="page" href="/skills">Skill</a>
                <a class="nav-link" href="/candidates">Candidate</a>
                <a class="nav-link active" href="/job">Job</a>
            </div>
        </div>
    </div>
</nav>

<div class="mt-5">
    <div class="container row col-md-8 offset-md-2">
        <div class="mb-5">
            <h1>Jobs</h1>
        </div>

        <div>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Company</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="job, status : ${jobs}">
                    <tr>
                        <th th:text="${status.index + 1}"></th>
                        <th th:text="${job.name}"></th>
                        <th th:text="${job.description}"></th>
                        <th>
                            <a th:href="@{'/companies/' +${job.company.id}}" th:text="${job.company.name}"></a>
                        </th>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>